<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>    
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "todo/style.css" %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "todo/script.js" %}" charset="UTF-8"></script>
  </head>  

	<body>
		<div>
		{% block content %}

		{% endblock content %}
    <br/><a href="/todo/">IndexPage</a>
		</div>

	</body>
</html>
